SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="0", \
    RUN+="/home/vignesh/.config/i3/polybar/scripts/battery-combined-dev/battery-combined-udev.sh --update"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="1", \
    RUN+="/home/vignesh/.config/i3/polybar/scripts/battery-combined-dev/battery-combined-udev.sh --update"
